<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CPSC462_POS.Settings.DB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CPSC462_POS.Settings.DB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CPSC462_POS.Settings.DB>
            <setting name="db_host" serializeAs="String">
                <value>ecsmysql</value>
            </setting>
        </CPSC462_POS.Settings.DB>
    </userSettings>
    <applicationSettings>
        <CPSC462_POS.Settings.DB>
            <setting name="db_server" serializeAs="String">
                <value>ecs.fullerton.edu</value>
            </setting>
            <setting name="db_name" serializeAs="String">
                <value>cs462f1</value>
            </setting>
            <setting name="db_uid" serializeAs="String">
                <value>cs462f1</value>
            </setting>
            <setting name="db_password" serializeAs="String">
                <value>rahngeer</value>
            </setting>
        </CPSC462_POS.Settings.DB>
    </applicationSettings>
</configuration>