<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CPSC462_POS.Settings.DB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CPSC462_POS.Settings.DB>
            <setting name="db_server" serializeAs="String">
                <value>dkla.net</value>
            </setting>
            <setting name="db_name" serializeAs="String">
                <value>cpsc462</value>
            </setting>
            <setting name="db_uid" serializeAs="String">
                <value>cpsc462</value>
            </setting>
            <setting name="db_password" serializeAs="String">
                <value>test123</value>
            </setting>
        </CPSC462_POS.Settings.DB>
    </applicationSettings>
</configuration>